{% for page in pages %}
    <li>
        <a href="{{ path('show_page', {url: page.url|slice(1)}) }}">
            {{ page.name }}
        </a>
    </li>
{% else %}
    <li>
        <a href="/">
            Главная
        </a>
    </li>
{% endfor %}